
img{
  height:50px;
  width:50px;
}
.box-1{
  display: flex;
  align-items: center;
  align-content: center;
  background-color:rebeccapurple;
  color:white;
  height:50px;
  width:100%;
  line-height:50px;
  column-gap: 10px;
}
