
img{
  height:85px;
}
.box-1{
  padding: 20px;
  align-items: center;
  /* align-content: center; */
  display: flex;
  background-color:rebeccapurple;
  color:white;
  column-gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  /* add justfy content */
}
img{
  align-content: center;
}
h1{
  text-align: center;
  display: flex;
}
